body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #e5e5e5;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.container{

  text-align:center;
}

.beer {
  height: auto;
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  
}
.img-div {
  width: 33%;
  margin: auto;
  float: left;
  text-align: center;
}

.beer-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding: 10px 20px 10px 20px;
}
.beer-info {
  width: 65%;
  float: right;
  flex-direction: column;
  text-align: left;
}
.name {
  font-weight: bold;
}
.btn-box {
  margin: 0;
  padding: 0;
  height: 40px;
}
.btn {
  background-color: black;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
  width: 160px;
}
.center {
  text-align: center;
}
.beer-detail {
  font-size: 12px;
}

.beer-detail ul li {
  list-style-type: disc;

  margin-left: 14px;
  padding: 0;
}

.detail-title {
  font-weight: bold;
}
.li-pairing {
  margin-left: 10px;
  color: gray;
}

.beer-detail > span {
  font-weight: bold;
}
.pairing {
  margin-left: 15px;
  color: gray;
}

.search-bar input {
  width: 100%;
  max-width: 600px;
  margin: 10px ;
  padding: 10px 5px;
  font-size: 1em;
  border-radius: 5px;
  border-style: none ;
  outline: none;
  
}

.search-bar input:focus {
  outline: none !important;
  border-bottom: 1px solid gray;
  box-shadow: none;
}
